@charset "UTF-8";

@media screen and (max-width: 768px){
    span#menu{
        display: block;
        cursor: pointer;
    }
    
    header{
        display: flex;
        flex-flow: column nowrap;

        width: 100vw;
        text-align: center;
    }

    header > h1{
        flex: 0 0 1.3em;
    }

    header > nav{
        display: flex;
        flex-flow:  column nowrap;
    }

    header > nav > a{
        width: 95vw;
    }
}